* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v0_817 {
  width: 100%;
  height: 4747px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v0_818 {
  width: 100%;
  height: 60px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_820 {
  width: 65px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 273px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v0_821 {
  width: 53px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 378px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v0_822 {
  width: 89px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 471px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.v0_823 {
  width: 61px;
  color: rgba(24,160,251,1);
  position: absolute;
  top: 21px;
  left: 600px;
  font-family: Montserrat;
  font-weight: Medium;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v0_826 {
  width: 100%;
  height: 960px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v0_831 {
  width: 100%;
  height: 948px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1020px;
  left: 0px;
  overflow: hidden;
}
.v0_832 {
  width: 750px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 120px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: left;
}
.v0_833 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 324px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v0_834 {
  width: 686px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 384px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v0_839 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 324px;
  left: 914px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v0_840 {
  width: 686px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 384px;
  left: 914px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_841 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 606px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v0_842 {
  width: 686px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 666px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_843 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 606px;
  left: 914px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v0_844 {
  width: 686px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 666px;
  left: 914px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_845 {
  width: 100%;
  height: 600px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 2568px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_847 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 225px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v0_848 {
  width: 686px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 285px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
.v0_853 {
  width: 100%;
  height: 738px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 3168px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v0_862 {
  width: 100%;
  height: 72px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 120px;
  left: 144px;
  overflow: hidden;
}
.v0_863 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 48px;
  opacity: 1;
  text-align: center;
}
.v0_864 {
  width: 100%;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 102px;
  left: 0px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v0_865 {
  width: 100%;
  height: 340px;
  background: rgba(245,245,245,1);
  opacity: 1;
  position: absolute;
  top: 3906px;
  left: 0px;
  overflow: hidden;
}
.v0_866 {
  width: 943px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 120px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v0_869 {
  width: 100%;
  height: 501px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 4246px;
  left: 0px;
  overflow: hidden;
}
.v0_870 {
  width: 173px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 120px;
  left: 80px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v0_871 {
  width: 301px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 357px;
  left: 689px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 15px;
  opacity: 1;
  text-align: center;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.name {
  color: #fff;
}
.v0_876 {
  width: 173px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 120px;
  left: 273px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v0_877 {
  width: 173px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 120px;
  left: 464px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: left;
}
.v0_878 {
  width: 173px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 120px;
  left: 1043px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: right;
}
.v0_879 {
  width: 173px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 120px;
  left: 1236px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: right;
}
.v0_880 {
  width: 173px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 120px;
  left: 1427px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 15px;
  opacity: 1;
  text-align: right;
}
.name {
  color: #fff;
}
.v0_882 {
  width: 100%;
  height: 1px;
  background: rgba(0,0,0,0.5);
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 80px;
  overflow: hidden;
}
.v0_849 {
  width: 100%;
  height: 600px;
  background: rgba(255,255,255,1);
  opacity: 1;
  position: absolute;
  top: 1968px;
  left: 0px;
  overflow: hidden;
}
.name {
  color: #fff;
}
.v0_851 {
  width: 686px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 225px;
  left: 914px;
  font-family: Montserrat;
  font-weight: Bold;
  font-size: 24px;
  opacity: 1;
  text-align: left;
}
.v0_852 {
  width: 686px;
  color: rgba(0,0,0,0.800000011920929);
  position: absolute;
  top: 285px;
  left: 914px;
  font-family: Montserrat;
  font-weight: Regular;
  font-size: 18px;
  opacity: 1;
  text-align: left;
}
